<!DOCTYPE html>
<html lang=ja>

<head>
	<meta charset="UTF-8">
</head>

<body>

	<table>
		<caption>結果出力のページ</caption>
		<tr>
			<th>NAME</th>
			<th>PRICE</th>
			<th>UPTIME</th>
		</tr>
		<tr>
			<td>{{info[0].get('name')}}</td>
			<td>{{info[0].get('price')}}</td>
			<td>{{info[0].get('update_time')}}</td>
		</tr>
		<tr>
			<td>{{info[1].get('name')}}</td>
			<td>{{info[1].get('price')}}</td>
			<td>{{info[1].get('update_time')}}</td>
		</tr>
		<tr>
			<td>{{info[2].get('name')}}</td>
			<td>{{info[2].get('price')}}</td>
			<td>{{info[2].get('update_time')}}</td>
		</tr>
		<tr>
			<td>{{info[3].get('name')}}</td>
			<td>{{info[3].get('price')}}</td>
			<td>{{info[3].get('update_time')}}</td>
		</tr>
		<tr>
			<td>{{info[4].get('name')}}</td>
			<td>{{info[4].get('price')}}</td>
			<td>{{info[4].get('update_time')}}</td>
		</tr>
		<tr>
			<td>{{info[5].get('name')}}</td>
			<td>{{info[5].get('price')}}</td>
			<td>{{info[5].get('update_time')}}</td>
		</tr>
		<tr>
			<td>{{info[5].get('name')}}</td>
			<td>{{info[5].get('price')}}</td>
			<td>{{info[5].get('update_time')}}</td>
		</tr>
	</table>
</body>

</html>
