<!DOCTYPE html>
<html lang=ja>

<head>
  <meta charset="UTF-8">
</head>

<body>
  <h1>結果出力のページ</h1>
  <p>{{info[0].get('name')}} : {{info[0].get('price')}} at {{info[0].get('update_time')}}</p>
  <p>{{info[1].get('name')}} : {{info[1].get('price')}} at {{info[1].get('update_time')}}</p>
  <p>{{info[2].get('name')}} : {{info[2].get('price')}} at {{info[2].get('update_time')}}</p>
  <p>{{info[3].get('name')}} : {{info[3].get('price')}} at {{info[3].get('update_time')}}</p>
  <p>{{info[4].get('name')}} : {{info[4].get('price')}} at {{info[4].get('update_time')}}</p>
</body>

</html>